.shelf_container {
  margin: 50px 0px;
} 
.container{
  margin: auto;
}
.titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
} 
.card{
  display: flex;
}
.content{
  flex:1;
  margin: 0px 12px;
  cursor: pointer;
}
.icon_location{
  margin-right: 5px;
}
.link:hover{
  text-decoration: underline;
}
.inImage:hover {
  box-shadow: 0 10px 8px rgba(0.2, 0.2, 0.2, 0.2);
  transform: translateY(-2px);
}
.likes{
  font-size: 14px;
  margin-left: 5px;
}
