
.video-container {
    position: relative; 
    width: 100%;
    height: 80vh; 
    object-fit: cover;
    overflow: hidden; 
  }
  
  .VideoPlay {
    object-fit: cover; 
    width: 100%;
    height: 100%;
  }
  
  .text-overlay {
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: rgb(6, 6, 6); 
  }
  
  .text-overlay h1 {
    font-size: 3em; 
  }
  
  .text-overlay p {
    font-size: 1.7em; /* Adjust font size for the paragraph */
  }
  